[Unit]
Description=Gunicorn instance to serve Message App
After=network.target

[Service]
User=rupper
Group=www-data
WorkingDirectory=/home/rupper/Desktop/web
Environment="PATH=/home/rupper/Desktop/web/venv/bin"
ExecStart=/home/rupper/Desktop/web/venv/bin/gunicorn --config gunicorn_config.py app:app
Restart=always

[Install]
WantedBy=multi-user.target
